PASTEBOX_APP_ENV=development
PASTEBOX_APP_NAME=PasteBox
PASTEBOX_HTTP_ADDR=:8080
PASTEBOX_PUBLIC_URL=http://localhost:5173

PASTEBOX_DATABASE_URL=postgres://pastebox:pastebox@localhost:5432/pastebox?sslmode=disable
PASTEBOX_REDIS_ADDR=localhost:6379

PASTEBOX_S3_ENDPOINT=http://localhost:9000
PASTEBOX_S3_BUCKET=pastebox
PASTEBOX_S3_ACCESS_KEY=pastebox
PASTEBOX_S3_SECRET_KEY=pastebox-secret
PASTEBOX_S3_USE_PATH_STYLE=true

PASTEBOX_MAILER_PROVIDER=log
PASTEBOX_STRIPE_ENABLED=false
PASTEBOX_EPUSDT_ENABLED=false

